@charset "utf-8";
/* CSS Document */
#gitple-loader-frame {display: none;}
#gitple-launcher {display: none !important;}
#gitple-launcher-tooltip {display: none !important; }
/* ---------- footer ---------- */
#footer {width: 100%; background: #fff;color: #001c2e; font-size: 14px;}
#footer a {color: #001c2e; font-size: 14px;}
#footer .btm_menu {width: 100%; height: 141px;}
#footer .cont_box {position: relative; width: 1220px; height: 100%; margin: 0 auto;}
#footer .btm_menu .cont_box > a {display: inline-block; float: left; width: 125px; margin: 45px 70px 0 102px;color: #001c2e; }
#footer .btm_menu img {width: 100%;}
#footer .btm_menu .menu_area {display: inline-block; width: 824px;margin: 32px 0 0; border-radius: 4px;  clear: both;}
#footer .btm_menu .menu_area > div {float: left; padding: 0 40px 0 70px; text-align: left;}
#footer .btm_menu .menu_area p {font-weight: 700; letter-spacing: -0.4px;}
#footer .btm_menu .menu_area .contact {border-left: 1px dotted rgba(207,213,235,0.7);}
#footer .btm_menu .menu_area .contact > a {display: inline-block; margin: 10px 0 10px 0;}
#footer .btm_menu .menu_area .contact > a:nth-child(2) {margin-right: 10px;}
#footer .btm_menu .menu_area .contact > a span {margin: 0 4px 0 0;}
#footer .btm_menu .menu_area .contact .info_box a {position: relative; font-size: 13px; opacity: 0.7;}
#footer .btm_menu .menu_area .contact .info_box a:hover {text-decoration: underline;}
#footer .btm_menu .menu_area .contact .info_box a + a {margin: 0 0 0 27px;}
#footer .btm_menu .menu_area .service { padding: 0 0 0 60px;font-size: 13px; letter-spacing: -0.4px;}
#footer .btm_menu .menu_area .service > div {clear: both;}
#footer .btm_menu .menu_area .service > div + div {margin: 10px 0 0 0;}
#footer .btm_menu .menu_area .service p {float: left; position: relative; width: 85px; font-weight: 700;}
#footer .btm_menu .menu_area .service p:after {content: ''; display: block; position: absolute; top: 4px; right: 0; width: 1px; height: 12px; background: rgba(128, 138, 171,0.6);}
#footer .btm_menu .menu_area .service a {margin: 0 0 0 15px; font-size: 13px;}
#footer .btm_menu .menu_area .service a:hover {text-decoration: underline;}
#footer .btm_menu .menu_area .contact .info_box a + a:before {content: ''; display: block; position: absolute; top: 4px; left: -14px; width: 1px; height: 13px; background: #001c2e; opacity: 0.7;}

#footer .copyright {width: 100%; height: 36px; border-top: solid 1px rgba(191, 196, 213,0.5); text-align: center;}
#footer .copyright span {position: relative; padding: 0 2px; font-size: 13px; line-height:36px; letter-spacing: -0.4px;color: #001c2e;opacity: 0.8;}
#footer .copyright span:nth-child(4), #footer .copyright span:last-child {padding: 0 0 0 16px;}
#footer .copyright span:nth-child(4):before,#footer .copyright span:last-child:before {content: ''; display: block; position: absolute; top: 4px; left: 6px; width: 1px; height: 13px; background: #001c2e; opacity: 0.8;}


/* Mobile Layout */
@media screen and (max-width:760px) {

    #footer .cont_box {width:100%; padding: 0 10px;box-sizing: border-box;}
    #footer .btm_menu {height:auto;}
    #footer .btm_menu .cont_box > a {display: none;}
    #footer .btm_menu .menu_area {width:100%;margin: 20px 0 0;}
    #footer .btm_menu .menu_area > div {float:unset;}
    #footer .btm_menu .menu_area .contact {padding:0;border-left:none;}
    #footer .btm_menu .menu_area .contact .info_box a {font-size:10px;}
    #footer .btm_menu .menu_area .service {padding:20px 0;}
    #footer .btm_menu .menu_area .service a {margin:0 0 0 8px;}
    #footer .copyright {height:auto;}
    #footer .copyright span {font-size:10px;line-height: 23px;}


}

