
/* Side navigation Bar */
.snb {display:table-cell; position: fixed; width: 184px; height: calc(100% - 125px);min-width: 237px;background-color: #192a39; overflow: auto;padding: 65px 0 60px 0;z-index: 101;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);}
.snb .sub_tit {font-size:13px; color:#002b49;margin:0 17px; font-weight: bold;height: 30px;line-height: 30px; border-bottom: 0.5px solid #002b49;}
.snb .sub_tit.sub_list {margin: 32px 17px 0;}
/*.snb ul {padding:0 7px;}*/
.snb ul.api_list {margin:0 auto 20px;}
.snb ul .collapsible {position:relative; cursor: pointer;margin: 0 17px 0 13px;border: none; color:#fff;text-align: left; outline: none; font-size: 13px;font-weight:500; line-height: 44px; overflow: hidden;transition:all 0.3s ease-out;}
.snb ul .collapsible > span {display: inline-block;}
.snb ul .collapsible > span a {display: block;color:#fff;}
.snb ul .collapsible > span em {font-size:18px;width:20px;}
.snb ul .collapsible:hover  { transition:all 0.3s ease-out;}
.snb ul .collapsible.list1 span em{color:#675fb0;}
.snb ul .collapsible.list2 span em{color:#e66f83;}
.snb ul .collapsible.list3 span em{color:#27c1c1;}

.snb ul .collapsible .ico_menu {min-height:34px;opacity: 1;transition:all 0.3s ease-out;}
.snb ul .collapsible .ico_menu span {width:20%;float:left;height: 30px;}
.snb ul .collapsible .ico_menu span:hover img {transition:all 0.2s ease-out;}
.snb ul .collapsible .ico_menu span img {vertical-align: middle; margin: 0 0 0 3px;transition:all 0.2s ease-out;}
.snb ul .collapsible.active {height:44px;}
.snb ul .collapsible.active > .ico_menu {opacity: 0; transition:all 0.3s ease-out;}

.snb ul .sublist { background-color: #0b1926;color:#fff; max-height: 0; overflow: hidden; transition: max-height 0.3s ease-out; }
.snb ul .sublist .twodepth {font-family:'Noto Sans KR', sans-serif;height:36px;display: inline-block; text-indent: 40px; color: #fff; font-size: 12px; line-height: 36px; width: 100%;transition:all 0.3s ease-out;}
.snb ul .sublist .twodepth:after { margin-right: 20px;}
.snb ul .sublist .twodepth:hover { transition:all 0.3s ease-out;opacity: 1;}
.snb ul .sublist .twodepth.active {font-weight: bold;}
.snb ul .sublist .list1_sub .twodepth:hover, .snb .list1_sub .twodepth.active {color:#675fb0;}
.snb ul .sublist .list2_sub .twodepth:hover, .snb .list2_sub .twodepth.active {color:#f7778a;}
.snb ul .sublist .list3_sub .twodepth:hover, .snb .list3_sub .twodepth.active {color:#27c1c1;}

/*화살표*/
.snb .dropdwn:after {content: ''; color: white;position: absolute; top: 9px;right: 0;width: 20px; height: 26px;transition:all 0.2s ease-out;}
.snb .dropdwn.active:after {content: "";transition:all 0.2s ease-out;}
.snb ul .collapsible:after {background:url(../images/menu/ico_sub_dw_w.png) 50% 50% no-repeat; }
.snb ul .collapsible.active:after{background:url(../images/menu/ico_sub_up_w.png) 50% 50% no-repeat; }


