
/* cahtbotBox */

/* chatbot_contents */
.chatbot_contents { float:left; width:100%; height:600px; vertical-align:top; background:#f6f6ff;border-radius: 0 0 10px 10px;}
.chatbot_contents .chat_mid {display:block; overflow:auto;height: calc(100% - 74px); padding:15px;}

.bot_infoBox {display:block; text-align:center; padding:20px 0 0 0;}
.bot_infoBox .thumb {overflow:hidden; width:150px; margin:0 auto; border-radius:100px;}
.bot_infoBox .thumb img {width:100%;}
.bot_infoBox .txt {display:block; padding:10px 0 20px 0; color:#616161; font-size:14px; line-height:22px; word-break:keep-all;}
.bot_infoBox .info_btnBox {display:block; overflow:hidden; max-width:300px; margin:0 auto 10px auto; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.bot_infoBox .info_btnBox:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}
.bot_infoBox .info_btnBox li {display:block; margin:0; padding:0; border-bottom:1px solid #f1f1f1;}
.bot_infoBox .info_btnBox li:last-child {border:none;}
.bot_infoBox .info_btnBox li button {display:block; width:100%; padding:10px 0; color:#0c6bd8; font-size:15px; text-align:center; text-decoration:none; line-height:22px; border:none; background:#fff;}
.bot_infoBox .info_btnBox li button:hover {text-decoration:underline;}
.bot_infoBox .info_btnBox li a {display:block; width:100%; padding:10px 0; color:#0c6bd8; font-size:15px; text-align:center; text-decoration:none; line-height:22px; border:none; background:#fff;}
.bot_infoBox .info_btnBox li a:hover {text-decoration:underline;}

.bot .info_btnBox {display:block; overflow:hidden; max-width:210px;min-width: 210px;padding:0; text-align:left; vertical-align:bottom; border-radius:5px; box-shadow: 0 0 3px 0 rgba(9, 24, 49, 0.1);border:1px solid #cfd5eb; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.bot .info_btnBox:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}
.bot .info_btnBox li {display:block; margin:0; padding:0; border-bottom:1px solid #f1f1f1;}
.bot .info_btnBox li:last-child {border:none;}
.bot .info_btnBox li button {display:block; width:100%; padding:10px 0; color:#0c6bd8; font-size:15px; text-align:center; text-decoration:none; line-height:22px; border:none; background:#fff;cursor: pointer;}
.bot .info_btnBox li button:hover {text-decoration:underline;}
.bot .info_btnBox li a {display:block; width:100%; padding:10px 0; color:#0c6bd8; font-size:15px; text-align:center; text-decoration:none; line-height:22px; border:none; background:#fff;}
.bot .info_btnBox li a:hover {text-decoration:underline;}


.chatbot_contents .chat_mid .talkLst {display:none;  clear:both; overflow:auto; padding:0; background:#f5f8fb; margin:0;}
.chatbot_contents .chat_mid .talkLst li {clear:both; overflow:hidden;}
.chatbot_contents .chat_mid .talkLst li.longTime {display:block; clear:both; overflow:hidden; height:25px; margin:10px 0; padding:0; background:url(../../images/bg_longtime.png) 0 0 repeat-x;}
.chatbot_contents .chat_mid .talkLst li.newDate {position:relative; margin:0 0 10px 0; text-align:center; background:url(../../images/line_ccc.png) 0 center repeat-x;}
.chatbot_contents .chat_mid .talkLst li.newDate span {display:inline-block; padding:0 10px; color:#aaa; background:#f6f6ff;}
.chatbot_contents .chat_mid .talkLst li a {color:blue; text-decoration:underline;}

.chatbot_contents .chat_mid .talkLst li.bot {display:table; width:100%; text-align:left; vertical-align:top;}
.chatbot_contents .chat_mid .talkLst li.bot .thumb {display:table-cell; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.chatbot_contents .chat_mid .talkLst li.bot .thumb img {overflow:hidden; width:100%; border-radius:50px; background:#f6f6ff;}
.chatbot_contents .chat_mid .talkLst li.bot .cont {display:block;  margin:0 0 10px 0;max-width: 210px;}
.chatbot_contents .chat_mid .talkLst li.bot .cont:last-child {margin:0;}
.chatbot_contents .chat_mid .talkLst li.bot .cont .name {display:block; padding:0 0 5px 10px; color:#999; font-size:12px; line-height:14px; font-style:normal;}
.chatbot_contents .chat_mid .talkLst li.bot .cont .txt {position:relative; display:inline-block; max-width:210px; padding:10px 9px; color:#697992; font-size:14px; font-style:normal; text-align:left; word-break:normal; line-height:22px; border-radius:5px;border:1px solid #cfd5eb;box-shadow: 0 0 3px 0 rgba(9, 24, 49, 0.1); background:#fff;letter-spacing: -0.5px;}
/*.chatbot_contents .chat_mid .talkLst li.bot .cont .txt:after {content:''; position:absolute; top:0; left:-10px; border-top:0 solid transparent; border-right:20px solid #fff; border-bottom:20px solid transparent;}*/
.chatbot_contents .chat_mid .talkLst li.bot .date {display:block; margin:0 0 7px 0; padding:0 0 0 10px; color:#afafaf; font-size:11px; vertical-align:bottom;}
.chatbot_contents .chat_mid .talkLst li.bot .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

.chatbot_contents .chat_mid .talkLst li.user {text-align:right; vertical-align:bottom;}
.chatbot_contents .chat_mid .talkLst li.user .cont {float:right; max-width:350px; margin:0 0 0 50px;}
.chatbot_contents .chat_mid .talkLst li.user .cont .txt {position:relative; display:inline-block; margin:15px 0 2px 5px; padding:10px;color: #002b49;font-size:14px; font-style:normal; text-align:left; word-break:normal; border-radius:7px 7px 0 7px; background:#fff;border: solid 1px #abb3da;}
/*.chatbot_contents .chat_mid .talkLst li.user .cont .txt:after {content:''; position:absolute; top:0; right:-10px; border-top:0 solid transparent; border-left:20px solid #6d96fe; border-bottom:20px solid transparent;}*/
.chatbot_contents .chat_mid .talkLst li.user .date {display:block; margin:0 0 3px 0; padding:0; color:#afafaf; font-size:12px; text-align:right; vertical-align:bottom;}
.chatbot_contents .chat_mid .talkLst li.user .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

.chatbot_contents .chat_mid .talkLst .botMsg_generic {display:block; overflow:visible; position:relative;max-width:300px; margin:0 0 5px 10px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .thumb {position:absolute; top:0; left:-50px; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .thumb img {overflow:hidden; width:100%; border-radius:50px; background:#f6f6ff;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_image {display:block; overflow:hidden; position:relative; width:100%; min-height:100px; max-height:200px; vertical-align:middle; border-radius:10px 10px 0 0;  background:#a9afbf url(../../images/ico_ai.png) 50% 50% no-repeat;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_image img {width:100%; border:none; box-shadow:none;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_title {}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_url {display:block; padding:7px 12px;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_url a {padding:0 12px 0 0; color:#5078f2; font-size:14px; line-height:22px; text-decoration:none; background:url(../../images/ico_link_arrow.png) right 55% no-repeat;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_url a:hover {text-decoration:underline;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_description {display:block; padding:0 12px 10px 12px; color:#616161;  font-size:14px; line-height:18px; word-break:normal; }
.chatbot_contents .chat_mid .talkLst .botMsg_generic:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}

.chatbot_contents .chat_mid .talkLst .botMsg_btnLst {display:block; max-width:300px; margin:0 0 5px 10px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff;cursor:pointer; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst .txt_s {display:block; padding:13px; color:#616161; font-size:14px; border-bottom:1px solid #dadada; word-break:normal; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul {display:block;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li {display:block; margin:0; padding:0; border-bottom:1px solid #f1f1f1;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li:last-child {border:none;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li a {display:block; padding:10px 0; color:#0c6bd8;  font-size:13px; text-align:center; text-decoration:none; line-height:22px;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li a:hover {text-decoration:underline;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}
	
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem {display:block; overflow:hidden; max-width:350px; margin:0 20px 0 10px; padding:0; text-align:left; vertical-align:bottom; }
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem .txt {display:block; padding:13px; color:#616161; font-size:12px; border-bottom:1px solid #dadada;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul {display:block;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li {clear:none; overflow:visible; float:left; margin:0 5px 5px 0; padding:0;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li:last-child {border:none;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li a {display:block; margin:3px; padding:5px 15px; color:#0c6bd8; font-size:13px; text-align:center; text-decoration:none; line-height:22px; border-radius:20px; background:#fff; box-shadow:0 0 5px #bbc7e7; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li a:hover {text-decoration:underline; box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}

.chatbot_contents .chat_mid .talkLst .imgBox {display:block; overflow:hidden; max-width:300px; margin:0 20px 5px 10px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px;}
.chatbot_contents .chat_mid .talkLst .imgBox img {max-width:280px;}

/* chatbot footer */
.chatbot_contents .chat_btm {display:block; position:relative; padding:10px 0; vertical-align:top; background: #fff; border-radius: 0 0 10px 10px;}
.chatbot_contents .chat_btm .textArea {display:block; overflow:auto;padding: 8px 40px 0 13px;color: #616161;font-size: 14px; border-radius: 0;resize: none;width: 97%;margin: 0 auto;height:57px;border: 1px solid #eee;box-sizing: border-box;}
.chatbot_contents .chat_btm .btn_chat {overflow:hidden; position:absolute; top: 10px;right: 7px;width: 40px;height: 40px; margin:0; padding:0; color:#9c9c9c; font-size:14px; text-indent:-999px; border:none; border-radius:0; background: url(../../../common/images/aiSquare/img_chatsend.svg) 50% 50% no-repeat;background-size: 25px; cursor:pointer; transition:all 0.2s ease-out;}
.chatbot_contents .chat_btm .btn_chat:hover {transition:all 0.2s ease-out;}
/*.chatbot_contents .chat_btm .btn_chat.disabled {background:#a8a8a8 url(../../images/ico_send.png) 50% 50% no-repeat; cursor:default;}*/
	
.chatLoading {margin:100px auto 0; width:70px; text-align:center;}
.chatLoading > b {width:10px; height:10px; background-color:#6d96fe; border-radius:100%; display:inline-block; -webkit-animation:chat-bouncedelay 1.4s infinite ease-in-out both; animation:chat-bouncedelay 1.4s infinite ease-in-out both;}
.chatLoading .chatLoading_item01 {-webkit-animation-delay:-0.32s; animation-delay:-0.32s;}
.chatLoading .chatLoading_item02 {-webkit-animation-delay:-0.16s; animation-delay:-0.16s;}

.chat_loading {position:absolute; top:0; left:0; width:100%; height:100%;}
.circleloader {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  margin-top: -10px;
  border-radius: 16px;
  width: 80px;
  height: 20px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.4);
}
.circleloader:before {
  content: '';
  position: absolute;
  border-radius: 16px;
  width: 20px;
  height: 12px;
  left: 0;
  background: #FFF;
  -webkit-animation: push 1s infinite linear;
          animation: push 1s infinite linear;
}

.chat_uiBox { display:table; width:100%;}



@-webkit-keyframes chat-bouncedelay {
0%, 80%, 100% {
	-webkit-transform:scale(0);
}
40% {-webkit-transform:scale(1.0);}
}

@keyframes chat-bouncedelay {
0%, 80%, 100% {-webkit-transform:scale(0); transform:scale(0);} 
40% {-webkit-transform:scale(1.0); transform:scale(1.0);}
}

