@charset "utf-8";

#pageldg {display:block; position:fixed; top:0; left:0; width:100%; height:100%; text-align:center; background-color:#222c46; z-index:99999; opacity:1.0;}
#pageldg .ld_item {display:inline-block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
#pageldg .ld_item span {position:absolute; border:4px solid #fff; border-radius:50%; animation:pageldg 2s cubic-bezier(0, 0.2, 0.8, 1) infinite; opacity:1;}
#pageldg .ld_item span:nth-child(2) {animation-delay:-1s;}
@keyframes pageldg {
    0%   {top:36px; left:36px;width:0; height:0; opacity:1;}
    100% {top:0; left:0; width:72px; height:72px; opacity:0;}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}
@-webkit-keyframes pageldg_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes pageldg_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}
/* layerpopup */
.layerpopup_wrap {position:fixed; top:0; left:0; width:100%; height:100%; z-index:5000; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:layerpopup_wrap; animation-name:layerpopup_wrap;}
.layerpopup_wrap .layer_bg {position:absolute; width:100%; height:100%; background:rgba(0, 0, 0, 0.8);}
.layerpopup_wrap .layerBox {position:absolute; top:50%; left:50%;}
.layerpopup_wrap .layerBox iframe{display:block !important; width:100% !important; max-width:100% !important; height:100% !important; border:none !important;}
.layerpopup_wrap .layer_close {position:absolute; top:-30px; right:0; width:25px; height:25px; background:url(../../images/btn_layerClose_w.png) center center no-repeat; background-size:100%; opacity:0.6; transition:all 0.3s ease-out;}
.layerpopup_wrap .layer_close:hover {transform:rotate(90deg); opacity:1; transition:all 0.3s ease-out;}
.layerpopup_hide {-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:layerpopup_hide; animation-name:layerpopup_hide;}

@-webkit-keyframes layerpopup_wrap {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes layerpopup_wrap {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes layer_close {
    0% {right:20px; opacity:0;}
    100% {right:0; opacity:0.6;}
}

@-webkit-keyframes layerpopup_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes layerpopup_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* wrap */
#wrap {min-width:1280px; height:100%;}

#header {position:fixed;top:0;width:100%;left:0;z-index:100;transition:all 0.3s ease-out;}
#header .head_area {position:relative; width:1240px;margin:0 auto;height:70px;}
#header .head_area div {}
#header .head_area h1{float:left;height:70px;line-height: 70px; font-size: 20px;font-weight: bold;letter-spacing: -0.2px;}
#header .head_area h1 a {display:block;color: #ffffff;}
#header .head_area .gnb {float:right;position: relative;}
#header .head_area .gnb ul {}
#header .head_area .gnb ul > li{float:left;margin:0 70px 0 0;height:70px; line-height: 70px;}
#header .head_area .gnb ul li a{display: block; line-height:70px;font-size: 16px;font-weight: 500;letter-spacing: -0.25px;color: #ffffff;}
#header .head_area .gnb ul li.user_num {margin:0 10px 0 0;}
#header .head_area .gnb ul li.user_num span {display: block;margin:16px 0 0 0;text-align: center;  width: 132px;height: 38px;line-height: 38px; border-radius: 19px;background-color: rgba(233, 236, 246, 0.3); font-size: 16px;letter-spacing: -0.25px;color: #ffffff;}
#header .head_area .gnb ul li.user_key {position:relative; margin:0;cursor: pointer;}
#header .head_area .gnb ul li.user_key > span {display: block;margin: 16px 0 0 0; width: 67px;height: 38px;box-sizing: border-box;border-radius: 19px;border: solid 1px rgba(255,255,255,0.9);font-size: 13px;font-weight: 500;line-height: 1.08;letter-spacing: -0.41px;color: #ffffff;}
#header .head_area .gnb ul li.user_key > span em {float: left;margin: 10px 4px 0 12px;font-size: 14px;}
#header .head_area .gnb ul li.user_key > span strong {float:left;font-weight:normal; margin: 3px 0 0 0;}

#header .head_area .idkey_box {position:absolute;right:0;top:67px;display: none; }
#header .head_area .idpw { padding:7px 20px 0;box-sizing:border-box;right: 0;bottom: -46px;height:50px;background: #fff;border-radius: 5px; border: solid 1px #cfd5eb;font-size:14px;}
#header .head_area .fa-times {display: none;position:absolute;right:7px;top:5px;font-size:10px;color:#002b49;cursor: pointer;}
#header .head_area .idpw li{display: inline-block;line-height: 35px;height: 35px;margin: 0 25px 0 0;}
#header .head_area .idpw li:last-child{margin: 0;}
#header .head_area .idpw li strong{ display: inline-block;float: left;font-weight: normal;}
#header .head_area .idpw li span{display: inline-block;padding:0 20px; margin:0 0 0 5px;height: 35px;border-radius: 19px;background-color: rgba(233, 236, 246,0.8);max-width:400px;overflow:hidden;text-overflow: ellipsis;}

#header .head_area .gnb.active + .idkey_box {display: block;}
#header .head_area .gnb.active + .idkey_box { display: inline-block;float: right;}
#header .head_area .gnb.active + .idkey_box .fa-times {display: block;}

#header.fixed {background: #fff;z-index: 100; border: solid 1px #dde0eb;transition:all 0.3s ease-out;}
#header.fixed .head_area h1 a{color: #002b49;}
#header.fixed .head_area .gnb ul li a { color: #002b49;}
#header.fixed .head_area .gnb ul li span {background:#e9ecf6;color: #002b49; }
#header.fixed .head_area .gnb ul li.user_key span{ background-color: #002b49;color:#fff;}

#container {clear:both;}
#stn_top { height:490px; background:url(../../../common/images/aiSquare/bg_nistop.png) 50% 50% no-repeat; background-size: cover;}
#serviceBox {height:453px;}
#videoBox {height:509px; background-color: #f5f6fa;}
#trendBox {height:323px;background:url(../../../common/images/aiSquare/bg_trend.png) 50% 50% no-repeat; background-size: 100% 323px;}
#contactBox {height:259px;background:url(../../../common/images/aiSquare/bg_contact.png) 50% 50% no-repeat; background-size: 100% 259px;}
.box_area {width:1240px;margin:0 auto;text-align: center;}
.box_area .stn_tit h4 {text-align: center;height: 37px;line-height: 37px;padding: 58px 0 34px 0;font-size: 25px;font-weight: 500;letter-spacing: -0.38px;color: #002b49;}
.box_area .stn_tit h5 {font-size: 15px;font-weight: normal;letter-spacing: -0.23px;text-align: right;color: #ffffff;}
.box_area .stn_tit p, .box_area .stn_cont p  {font-size: 15px;font-weight: normal;line-height: normal;letter-spacing: -0.23px;text-align: center;color: #002b49;}
.box_area .stn_tit a.btn_go, .box_area .stn_cont a.btn_go{display: inline-block;margin:0 auto; height: 50px;line-height: 50px; padding:0 30px; border-radius: 3px;border: solid 1px #ffffff; font-size: 15px;font-weight: 500;letter-spacing: -0.23px;color: #ffffff; text-align: center; box-sizing: border-box;}

.box_area.stn_top {position:relative;height: 100%;}
.box_area.stn_top .title {float:right; padding:197px 50px 0 0;text-align: left;}
.box_area.stn_top .title h2{height:70px;line-height: 70px; font-size: 50px;font-weight: bold;letter-spacing: -1.13px;color: #ffffff;text-transform: uppercase;}
.box_area.stn_top .title h5{height:45px; line-height: 45px; font-size: 30px;font-weight: 300;letter-spacing: -0.68px;color: #ffffff;}
.box_area.stn_top .srchBox {position:absolute;left:50%;transform: translateX(-50%); bottom:-20px;}
.box_area.stn_top .srchBox input {width: 851px;height: 60px;padding:0 60px 0 70px;  font-size: 15px;font-weight: normal;letter-spacing: -0.23px;color: #00092e; border-radius: 3px;box-sizing: border-box;box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);border: solid 1px #e0e9ff;background: #ffffff url(../../../common/images/aiSquare/ico_chat.svg) 24px 17px no-repeat;background-size: 25px;}
.box_area.stn_top .srchBox input::placeholder {font-size: 15px;font-weight: normal;letter-spacing: -0.23px;color: #00092e;}
.box_area.stn_top .srchBox button {position:absolute;right:0;width:60px;height:60px;background:url(../../../common/images/aiSquare/img_chatsend.svg) 0 12px no-repeat; }

.box_area.serviceBox .stn_tit h4 {height:37px; line-height:37px;padding:74px 0 44px;text-align: center;}
.box_area.serviceBox .stn_cont ul {width:100%;padding:0 50px;box-sizing: border-box; overflow: hidden;}
.box_area.serviceBox .stn_cont ul li {width:32%;float:left;}
.box_area.serviceBox .stn_cont ul li h5 { height:57px;padding:0 0 0 185px; line-height:57px; text-align: left;font-size: 18px;font-weight: 500;letter-spacing: -0.28px;color: #002b49;}
.box_area.serviceBox .stn_cont ul li p {padding:14px 0 0;}
.box_area.serviceBox .stn_cont ul li:first-child {background:url(../../../common/images/aiSquare/img_service1.svg) 140px 0 no-repeat;}
.box_area.serviceBox .stn_cont ul li:nth-child(2) {padding:0 20px;background:url(../../../common/images/aiSquare/img_service2.svg) 160px 7px no-repeat;}
.box_area.serviceBox .stn_cont ul li:nth-child(3) {background:url(../../../common/images/aiSquare/img_service3.svg) 145px 0 no-repeat;}
.box_area.serviceBox .stn_cont ul li:nth-child(2) h5{padding:0 0 0 203px;}
.box_area.serviceBox .stn_cont ul li:nth-child(3) h5 {padding:0 0 0 200px;}
.box_area.serviceBox .stn_cont a { width: 197px;background-color: #55aafa;padding:0;margin: 40px auto;}

.videoBox {position:relative;}
.videoBox .stn_cont { width: 1076px;margin: 0 auto;box-sizing: border-box;overflow: hidden;white-space: nowrap;}
.videoBox .stn_cont ul {height:320px;}
.videoBox .stn_cont ul li {position:relative;display:inline-block;width:350px !important;height:320px;margin:0 9px 0 0;box-sizing: border-box; border-radius: 3px;border: solid 1px #dbdff2;background-color: #ffffff;}
.videoBox .stn_cont ul li div.img_box{position:absolute;left:-1px;top:-1px; height:195px;width:350px;border-radius: 3px 3px 0 0 ;}
.videoBox .stn_cont ul li:nth-child(3n) {margin-right:8px !important;}
.videoBox .stn_cont ul li div.img_box video {position:relative; display: block;width:100%;height:100%;object-fit: cover;padding:0;border: none;overflow: hidden;border-radius: 3px 3px 0 0;}
.videoBox .stn_cont ul li div.img_box span.ico_mov {overflow:hidden; position:absolute; width: 75px;height: 75px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);border: solid 1px #ffffff;background-color: rgba(29, 32, 32, 0.8); top:50%; left:50%;transform: translate(-50%,-50%);line-height:999px; border-radius:80px; background-size:100%; z-index:1; transition:all 0.3s ease-out;}
.videoBox .stn_cont ul li div.img_box span.ico_mov:after {content:'';  position:absolute; top:50%; left:50%; margin:-10px 0 0 -15px; border-right:20px solid #fff; border-bottom:20px solid transparent; transform:rotate(45deg); transition:all 0.3s ease-out;}
.videoBox .stn_cont ul li div.txt_box {padding: 218px 20px 22px;text-align: left;}
.videoBox .stn_cont ul li div.txt_box p {width:100%;font-weight: 500;text-align: left;margin:0 0 16px 0;min-height: 44px;white-space: normal; height: 28px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.videoBox .stn_cont ul li div.txt_box span {font-size: 14px;font-weight: normal;letter-spacing: -0.22px;color: #f7778a;}
.videoBox .stn_cont ul li div.txt_box span.spe_t {color: #7d71d1;}
.videoBox .stn_cont ul li div.txt_box span.lang_t {color: #17b5ca;}
.videoBox .stn_cont ul li div.img_box a {display:block; height: 100%;}
.videoBox .stn_cont ul li div.img_box a img {height: 100%; width: 100%;}


.videoBox .swipter_btn {width: 60px;height: 60px; border-radius:60px;border: solid 1px #abb3da;background-color: rgba(255, 255, 255, 0.8); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);}
.videoBox .swipter_btn em {font-size: 20px;color: #b1b8d9;line-height: 60px;}
.videoBox .swiper-button-prev {position:absolute; left:0;top: 260px;cursor: pointer;}
.videoBox .swiper-button-next {position:absolute; right:0; top: 260px;cursor: pointer;}

.trendBox .stn_tit {text-align: right;width:550px;float:left;}
.trendBox .stn_tit h4, .trendBox .stn_tit p, .trendBox .stn_tit a{color:#fff; text-align: right;}
.trendBox .stn_tit h4 {padding:58px 0 10px 0;}
.trendBox .stn_tit a.btn_go {margin:86px auto 0;}
.trendBox .stn_cont {float:left;width: 520px;height: 203px;margin:60px 0 0 40px; border-radius: 3px;background:rgba(75, 180, 247, 0.7) url(../../../common/images/aiSquare/ico_trend.svg) 387px 110px no-repeat;}
.trendBox .stn_cont ul {float:left;padding:10px 30px; text-align: left;}
.trendBox .stn_cont ul li {height:30px; font-size: 15px;font-weight: 500;line-height:30px;letter-spacing: -0.23px;color: #ffffff;}
.trendBox .stn_cont ul li em {margin:0 10px 0 0;}

.contactBox .stn_tit h4, .contactBox .stn_tit p, .contactBox .stn_tit a{color:#fff; text-align: center;}
.contactBox .stn_tit h4 {padding:58px 0 15px 0;}
.contactBox .stn_tit a.btn_go {margin:30px auto;}

/*챗봇*/
.chat_icon {position:fixed;bottom:10px;right:10px;width:100px;height:112px;cursor:pointer;}
.chat_icon img {width:100%;height:100%;object-fit: contain;}
.lyr_chat {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000; }
.lyr_chat .lyrWrap {width:396px;height:680px;position:absolute;bottom:120px;right:20px; border-radius: 10px; box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);}
.lyr_chat .lyr_hd{position: relative;display:block; height:48px; text-align:center; background:#8582f2;border-radius:10px 10px 0 0;color:#fff; font-size:20px;line-height:50px;font-weight:500;}
.lyr_chat .lyr_hd .btn_close {overflow:hidden; position:absolute; top:14px; right:19px; color:#fff;font-size:20px; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_chat .lyr_bd {height: calc(100% - 48px);}

/*Faq 페이지*/
#faq_top { height:323px; background:url(../../../common/images/aiSquare/bg_faq.png) 50% 50% no-repeat; background-size: cover;}
#faq_top .box_area.stn_top .title {float:unset;padding: 132px 0 0 0;text-align: center;}
.faqBox {width:1140px;margin:60px auto;}
.faqBox .tab_menu{width:100%;overflow: hidden;margin: 0 0 46px 0;}
.faqBox .tab_menu ul {}
.faqBox .tab_menu ul li{width:50%;float:left; font-size: 15px;font-weight: 500;line-height: 50px;letter-spacing: -0.34px;text-align: center;color: #002b49;border:1px solid rgba(99, 125, 143, 0.5);box-sizing: border-box;cursor: pointer;}
.faqBox .tab_menu ul li.active {background-color: #8582f2;color:#fff;}
.faqBox .stn_cont {display: none;}
.faqBox .stn_cont.on {display: block;}
.faq_cont {}
.faq_cont ul{border-top: solid 2px #173e59;}
.faq_cont ul li p.faq_tit {position:relative; display: block;height: 50px;line-height: 50px;padding: 0 40px 0 16px;text-align: left; border-bottom: solid 1px rgba(23, 62, 89,0.5);text-overflow: ellipsis;white-space: nowrap;overflow: hidden; cursor: pointer;}
.faq_cont ul li p.faq_tit em{position:absolute;right:0;top:0;height: 50px;line-height: 50px;margin: 0 20px 0 0;font-size: 20px;letter-spacing: -0.45px;color: #173e59;}
.faq_cont ul li p.faq_tit em.fa-angle-down {display: none;}
.faq_cont ul li p.faq_tit.active em.fa-angle-down {display:  inline-block;}
.faq_cont ul li p.faq_tit.active em.fa-angle-up {display: none;}
.faq_cont ul li .dropdown-box{ display: none; background-color: #f5f6fa;width:100%;padding:25px 40px;box-sizing: border-box; font-size: 14px;line-height: 1.79;letter-spacing: -0.31px;color: #173e59;text-align: left;}

.req_cont {}
.req_cont .req_box{position:relative; border-top: solid 2px #173e59;border-bottom: solid 1px #173e59;}
.req_cont .req_box textarea {width:100%;border:none;height: 354px;overflow:auto;background-color: #f5f6fa;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal; padding: 20px;box-sizing: border-box;letter-spacing: -0.31px;color: #173e59;}
.req_cont .req_box textarea::placeholder{opacity:0.5;}
.req_cont .req_box button {width: 95px;height: 50px;margin:20px auto 26px;border-radius: 3px;background-color: #8582f2;font-size: 15px;font-weight: 500;line-height: 50px;letter-spacing: -0.23px;color: #ffffff;}
.req_cont .req_box button#req_list {position:absolute;right:0; bottom: 0;width: 139px;background: #173e59;}

.faq_list {display: none;}
.faq_list > div.tit {width:100%;height: 50px;margin: 60px 0 45px 0;border-radius: 3px;background-color: #173e59;font-size: 15px;font-weight: 500;line-height: 50px;letter-spacing: -0.34px;text-align: center;color: #ffffff;}
.faq_list ul{border-top: solid 2px #173e59;padding: 0 0 22px 0;}
.faq_list ul li p.faq_tit {position:relative; display: block;height: 50px;line-height: 50px;padding:0 260px 0 16px;text-align: left; border-bottom: solid 1px rgba(23, 62, 89,0.5);text-overflow: ellipsis;white-space: nowrap;overflow: hidden; cursor: pointer;}
.faq_list ul li p.faq_tit em{position:absolute;right:0;top:0;height: 50px;line-height: 50px;margin: 0 20px 0 0;font-size: 20px;letter-spacing: -0.45px;color: #173e59;}
.faq_list ul li p.faq_tit em.fa-angle-down {display: none;}
.faq_list ul li p.faq_tit.active em.fa-angle-down {display:  inline-block;}
.faq_list ul li p.faq_tit.active em.fa-angle-up {display: none;}
.faq_list ul li .dropdown-box{ display: none; background-color: #f5f6fa;width:100%;padding:25px 40px;box-sizing: border-box; font-size: 14px;line-height: 1.79;letter-spacing: -0.31px;color: #173e59;text-align: left;}
.faq_list ul li:last-child .dropdown-box{  border-bottom: solid 1px rgba(23, 62, 89,0.5);}
.faq_list .faq_tit span {position:absolute; font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 4.25;letter-spacing: -0.27px;text-align: right;color:rgba(23, 62, 89,0.8) ;}
.faq_list .faq_tit span.user_num {top:8px; right:143px;padding:0 14px;height: 31px;line-height:31px;text-align:center;border-radius: 15px;background-color: rgba(85, 170, 250, 0.1);}
.faq_list .faq_tit span.date_txt {top:0; right:64px;line-height: 50px;}

/* paging */
.paging {display: inline-block; text-align: center; vertical-align: top; clear: both;}
.paging a {display: inline-block; overflow: hidden; height: 28px;padding:0; margin: 0 7px 0 0; border-radius: 5px; color: rgba(59,68,91,0.7); font-size: 14px; line-height: 26px; text-decoration: none; vertical-align: top; transition: all 0.3s ease-out;}
.paging a em {font-size:14px;  color: #787a8a;}
.paging .btn_paging_prev,
.paging .btn_paging_next {width: 30px; height: 30px; margin:0 1px; font-size:14px;box-sizing: border-box; box-shadow: 0 0 2px 0 #a9a9a9;border:1px solid #fff;}
.paging .btn_paging_prev {margin:0 7px 0 0;}
.paging .btn_paging_next {}
.paging a:hover,
.paging a:focus {color: rgba(59,68,91,1.0); text-decoration: underline; opacity: 1.0; transition: all 0.3s ease-out;}
.paging .btn_paging_prev:hover,
.paging .btn_paging_next:hover,
.paging .btn_paging_prev:focus,
.paging .btn_paging_next:focus {border: solid 1px rgba(80, 103, 228, 0.15); transition: all 0.3s ease-out;}
.paging .list a.on {  color: #5e77ff;}
/* paging */


/*trends 페이지*/
.trend_container {background-color: #f5f6fa;}
#trends_top { height:323px; background:url(../../../common/images/aiSquare/bg_trend.png) 50% 50% no-repeat; background-size: cover;}
#trends_top .box_area.stn_top .title {float:unset;padding: 132px 0 0 0;text-align: center;}
.trend_area {padding:0 0 100px 0;border-radius: 0;text-align: center;background-color: #f5f6fa; }
.trend_area .cont_top {}
.trend_area .cont_top .tab_button {display: inline-block; padding: 25px 0 23px 0;}
.trend_area .cont_top .tab_button ul{width:560px;float:left;}
.trend_area .cont_top .tab_button ul li{float:left; width:180px;height:60px;line-height: 60px; margin:0 10px 0 0;box-sizing: border-box; border-radius: 5px;border: solid 1px #cfd5eb;background:#fff url("../../../common/images/aiSquare/img_aca04.svg") 28px 15px no-repeat;background-size: 30px;}
.trend_area .cont_top .tab_button ul li:nth-child(2){background: #fff url("../../../common/images/aiSquare/img_aca01.svg") 24px 15px no-repeat;background-size: 30px;}
.trend_area .cont_top .tab_button ul li:last-child{margin:0;background: #fff url("../../../common/images/aiSquare/img_aca02.svg") 30px 15px no-repeat;background-size: 32px;}
.trend_area .cont_top .tab_button ul li:hover, .academy_cont .academy_demobox .cont_top .tab_button ul li.active {border: solid 1px #2575f9;transition:all 0.3s ease-out;}
.trend_area .cont_top .tab_button ul li button{width:100%;height: 100%;padding:0 0 0 78px;box-sizing: border-box;text-align: left; font-size: 15px;font-weight: 500;letter-spacing: -0.5px;color: #192a39;}
.trend_area .cont_top .tab_button .srchBox{position:relative;float:left; width:230px; padding: 15px 0 0 30px;vertical-align:middle;}
.trend_area .cont_top .tab_button .srchBox .ipt_srch{display:inline-block; width:calc(100% - 50px); height:24px; padding:8px 42px 8px 8px; color:#192a39; font-size:15px;background: none;  border-bottom: solid 2px #697992; transition:all 0.3s ease-out;}
.trend_area .cont_top .tab_button .srchBox .ipt_srch:focus{opacity:1;transition:all 0.3s ease-out;}
.trend_area .cont_top .tab_button .srchBox .ipt_srch::-webkit-input-placeholder{color: #192a39;opacity:0.6;}
.trend_area .cont_top .tab_button .btn_ico{position:absolute;top:28px;right:0;}
.trend_area .cont_top .tab_button .btn_ico em {color: #697992;font-size:20px;}
.trend_area .cont_top .tab_button .srchBox .btn_ico:hover,
.trend_area .cont_top .tab_button .srchBox .btn_ico:focus{opacity:1.0; transition:all 0.3s ease-out;}

.trend_area .cont_top .article_top {display: none;width:820px;padding: 25px 0 23px 0; margin: 0 auto;;overflow: hidden; }
.trend_area .cont_top .article_top button {float:left;position:relative; width:76px;height:40px;padding:0 0 0 33px;margin:0 38px 0 0; box-sizing:border-box;line-height: 40px; border-radius: 5px;border: solid 1px #cfd5eb;background-color: #ffffff; font-size: 15px;font-weight: normal;letter-spacing: -0.5px;text-align: left;color: #697992;}
.trend_area .cont_top .article_top button em {position:absolute;top:13px; left:15px;}
.trend_area .cont_top .article_top h2 {float:left;line-height: 40px; font-size: 20px;font-weight: 500;letter-spacing: -0.67px;text-align: center;color: #192a39;}

.trend_area .cont_body {min-height: 370px;width:calc(100% - 80px);overflow: hidden;margin:0 auto 60px; padding:56px 0;text-align: center;background: #fff;  border-radius: 5px;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);}
.trend_area .cont_body .list_board ul {display: inline-block;width:842px;padding:0 0 0 20px;}
.trend_area .cont_body .list_board ul li {float:left; width: 190px;height: 92px;margin:0 20px 30px 0;box-sizing: border-box; border-radius: 5px;box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5);border: solid 1px #cfd5eb;background-color: #f5f6fa;transition:all 0.2s ease-out;}
.trend_area .cont_body .list_board ul li a {display: block;width:100%;height:100%;}
.trend_area .cont_body .list_board ul li a h5 {padding:13px 0 8px 0; font-size: 15px;font-weight: 500;letter-spacing: -0.23px;text-align: center; color: #2575f9; overflow: hidden; text-overflow: ellipsis; white-space: normal; height: 36px;word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.trend_area .cont_body .list_board ul li a p {opacity: 0.8;font-size: 14px;font-weight: normal;line-height: 1;letter-spacing: -0.22px;text-align: center;color: #697992;}
.trend_area .cont_body .list_board ul li a p small {font-size:14px;margin:0 3px 0 0;}
.trend_area .cont_body .list_board ul li.available:hover {border: solid 1px #2575f9;background-color: #468afa;transition:all 0.2s ease-out;}
.trend_area .cont_body .list_board ul li.available:hover h5 {color:#fff;}
.trend_area .cont_body .list_board ul li.available:hover p {color:rgba(255,255,255,0.8);}
.trend_area .cont_body .list_board ul li.unavailable {box-shadow: none;}
.trend_area .cont_body .list_board ul li.unavailable a{opacity: 0.5;cursor: default;}
.trend_area .cont_body .list_board ul li.unavailable h5 {color: #192a39;}

.trend_area .cont_body .article_board {display: none;position:relative;width:822px;margin:0 auto;overflow: hidden;}
.trend_area .cont_body .article_board .text_box {float:left;width: calc(100% - 150px); text-align: left;}
.trend_area .cont_body .article_board .text_box dl {margin:0 0 30px 0;}
.trend_area .cont_body .article_board .text_box dl dt {width:115px;display: inline-block;vertical-align: top;font-size: 14px;font-weight: normal;line-height: 1.43;letter-spacing: -0.47px;color: #697992;}
.trend_area .cont_body .article_board .text_box dl dd {width:calc(100% - 119px); display: inline-block;  font-size: 14px;font-weight: normal;line-height: 1.79;letter-spacing: -0.47px;color: #3d4c63;}
.trend_area .cont_body .article_board .text_box dl dd img {display: block;margin:0 auto;}
.trend_area .cont_body .article_board .text_box dl.category_page {margin:0 0 50px 0;}
.trend_area .cont_body .article_board .text_box dl.category_page dt{font-size: 20px;font-weight: 500;line-height: 1.79;letter-spacing: -0.67px;color: #192a39;}
.trend_area .cont_body .article_board .text_box dl.category_page dd {font-size: 14px;font-weight: normal;line-height: 1.79;letter-spacing: -0.47px;color: #3d4c63;}
.trend_area .cont_body .article_board .text_box dl.category_page dd a {  font-size: 15px;font-weight: bold;letter-spacing: -0.3px;color: #2575f9;}
.trend_area .cont_body .article_board .text_box dl.category_page dd p {margin:0 0 20px 0;padding:0 0 0 23px;font-size: 14px;font-weight: normal;line-height: 1.79;letter-spacing: -0.47px;color: #3d4c63;}
.trend_area .cont_body .article_board .text_box dl.article_title dt {font-size: 25px;font-weight: bold;line-height: 1;letter-spacing: -0.83px;color: #2575f9;}
.trend_area .cont_body .article_board .text_box dl.article_title dd {font-size: 20px;font-weight: 500;line-height: 1;letter-spacing: -0.67px;color: #2575f9;}
.trend_area .cont_body .article_board .text_box .tag_box {padding: 0 0 0 119px;}
.trend_area .cont_body .article_board .text_box .tag_box small{display: inline-block; padding:5px;margin:0 3px 3px 0; border-radius: 4px;border: solid 1px #cbdffd;background-color: #f5f6fa; color: #697992;font-size:12px;}

.trend_area .cont_body .ai_list {display: none;}
.trend_area .cont_body .ai_list ul{}
.trend_area .cont_body .ai_list ul li{width: 824px;height: 60px;padding:20px 30px;margin: 0 auto 10px;box-sizing: border-box; border-radius: 5px;border: solid 1px #cfd5eb;background-color: #f5f6fa;text-align: left;cursor: pointer;}
.trend_area .cont_body .ai_list ul li p {display: inline-block; font-size: 15px;font-weight: 500; letter-spacing: -0.23px;color: #192a39;}
.trend_area .cont_body .ai_list ul li em {float:right;font-size: 15px;}

.chapter_box {display: none; position:absolute;top: 450px;right: 0;left: 50%;margin-left:286px;}
.chapter_box a {display: block; margin:0 0 12px 0;padding: 10px 5px; box-sizing: border-box; width: 127px;min-height: 59px;border-radius: 4px;border: solid 1px #cbdffd;background-color: #f5f6fa;font-size: 14px;font-weight: normal;line-height: 1.43;letter-spacing: -0.47px;text-align: center;color: #697992;}
.chapter_box a span {display: block;}
.chapter_box.fixed {position:fixed; top:80px; margin-left: 287px;}
.chapter_box a:hover, .chapter_box a.active{border: solid 1px #cbdffd;background-color: #468afa;color:#fff;transition:all 0.3s ease-out;}






.errorwrap { min-width:1280px;}
.errorwrap > div{ position:relative; margin:224px auto; width:895px; height:582px;background:url(../../../common/images/aiSquare/img_error.svg) 50% 50% no-repeat; }
.errorwrap > div h1 { position:absolute;top:-35px;left:-75px; font-size: 48px;font-weight: 900;text-transform: uppercase;height:71px;line-height: 71px;letter-spacing: 16.7px;color: #2c3f51;}
.errorwrap > div h1 span {display: block;height: 40px;line-height: 40px;margin:7px 0 0 0;  text-transform: initial;font-size: 28px;font-weight: normal;letter-spacing: normal;color: #2c3f51;}
.errorwrap > div a {position:absolute;bottom:43px;right:0; width: 233px;height: 56px;border-radius: 32.6px;background-color: #f7778a;  font-size: 21px;font-weight: 500;line-height: 56px;text-transform: uppercase;letter-spacing: -0.24px;text-align: center;color: #ffffff;}
